@model SimpleWebApp.Models.Forms.EditUserForm

@{
    ViewData["Title"] = "UPDATE USER";
}

<h1 class="font-monospace">Update user</h1>

<a asp-action="Index" class="btn btn-secondary font-monospace">Back</a>

<form asp-action="Update" method="post" asp-controller="Admin" asp-area="Admin">

    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    
    <div class="mb-3">
        <label class="col-form-label">Email:</label>
        <input type="email" class="form-control" asp-for="Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="col-form-label">Roles</label>
        <select name="role" asp-items="ViewBag.Roles" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-primary font-monospace">Save</button>

</form>

